h1 {
        text-align: center;
    color: white;
    background-color: #a52a2a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p {
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 


footer {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: black;
}
div {
     display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 40%;
}
em {
    font-style: italic;
    color: blue;
    font-weight: bold;
}
.colortext {
    color: blue;
}

.bold
{
    font-weight: bold;
}
.border1 {
    border-style: dashed;

}
.border2 {
    border-style: dashed;
}

.border3 {
    border-style: dashed;
}
.border4 {
    border-style: dashed;
}
.border5 {
    border-style: dashed;
}